* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 15px;
}
body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
color: #333;
max-width: 1265px;
margin: 20px auto;
}

ul{

    padding: 0 0 0 27px;
    }
    li{ 
    margin-bottom: 0.30rem;
    font-size: 1.1em;
    }

                          /* TOP */

.Top {
    
    display: flex;
    justify-content: space-between;

}

.pic {
    
    width: 180px;
    margin-right: 112px;

    
    }
    
      img {
        max-width: 100%;
        
    } 


                         /* MIDDLE */

.Middle {
   
    display: flex;
    justify-content: space-between;
    
}

.skills {

    max-width: 265px;
    margin: 20 25 0 0 ;
    font-size: 1.1em;
  

}

.skills h2 {
   margin: 15px 0 15px 0;
   color: rgb(232, 116, 44);
}



.summary {
    
    font-size: 1.28em;
    margin-left: 60px;
    margin-top: 20px;
    width: 700px;
    

}
.summary h2{

    padding-top:35px;
    color: rgb(232, 116, 44);
    
}
.summary p {
    padding-top: 12px;
}




                         /* BOTTOM */

.Bottom {
    
    display: flex;
    justify-content: space-between;
    
    
}

.Experiencediv{
    
    font-size: 1.18em;
    max-width: 700px;
    margin: 0 0 0 60px;


}

                     /* Experiencediv */

.Experiencediv span:nth-of-type(1){
    padding: 0 0 0 288px;
}

.Experiencediv p:nth-of-type(1){
    padding: 0 0 4px 0;
}
.Experiencediv p:nth-of-type(2){
    padding: 5px 0 3px 0;
    font-weight: bold;
}

.Experiencediv ul{
    padding-left: 22px;
}
.Experiencediv h2 {
    padding:0 0 20px 0;
    color: rgb(232, 116, 44);
    font-size: 2em;
    
    
}
                      
                    /* Activities */


.Activities {
    max-width: 265px;
}
.Activities h2:nth-of-type(1) {
    margin: 125px 0 15px 0;
    color: rgb(232, 116, 44);
}

.Activities h2:nth-of-type(2) {
    margin: 85px 0 15px 0;
    color: rgb(232, 116, 44);
}
.Activities h2:nth-of-type(3) {
    margin: 85px 0 15px 0;
    color: rgb(232, 116, 44);
}



.name {
    width: 700px;
    height: auto;
    /* border: 2px solid black; */
    margin-left: 60px;
    margin-top: 30px;
    
}

.name h1 {
    font-size: 3.125em;
    margin-bottom: 0.1em;
    color: rgb(238, 110, 31);
    
}
.name h3{
    font-size: 1.5625em;
    margin-bottom: 0.4em;
}
.name p {
    font-size: 1.25em;
    margin-bottom: 0.35em;
}
.name a {
font-size: 1.20em;
margin-bottom: 20px;
}


.Education h2{
    padding-bottom:10px;
    padding-top: 35px;
}
.Education p {
    padding-top: 5px;
    padding-bottom: 5px;
}
.span2 {
    padding-left: 336px;
}
.span3 {
    padding: 0 0 0 351px;
}
.span1{
    padding-left: 358px;
}

.lastdiv h2 {
    padding-top: 75px;
    padding-bottom: 6px;
}
.ref1{
    padding-bottom: 20px;
}